/* Home Page CSS done by Halie Andrews */
/*Styling on top div where pagename is displayed*/
.top {
  background: linear-gradient(45deg, #ff9a9e, #fad0c4);
    width: 100%;
    height: 120px;
    text-align: center;
}
/*Styling on the page name*/
#pageName{
  font-size: 2.5em;
}
/*styling on side navigation*/
.sidenav {
  height: 100%; 
  width: 0; 
  float: right;
  position: fixed; 
  z-index: 1; /* Stay on top */
  top: 0; 
  right: 0;
  background-color: #FFFFFF; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
/*styling when side navigation is open*/
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  
}
/* subcatagory selection styling */
select { 
  font-size: 0.9em;
 }
/*styling on page name display*/
#pageName{
  font-size: 2.5em;
}
/*styling on side navigation student and add catagories buttons. */
/*catagory buttons use the same styling but since they are dynamically created elements they are styled in the javascript file*/
#addCatagories, #addStudent {
  /* position:absolute;
  bottom: 260px; */
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  height: 50px;
  background-color: #eceef0;
  color: rgb(186, 184, 184);
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* changes color of buttons when hoverd over */
#addCatagories:hover, #addStudent:hover {
  background-color: #d8e5ee;
}

/*styling on the add catagories popup*/
 .catagoriesPopup{
  display:none;
  border-color: #818181;
  border-width: 0.3rem;
 }

/*styling on main div of page where content containers are stored*/
.main {
    height: 550px;
    width: 80%;
    position: relative;
    text-align: center;
 }
/*styling on content containers*/
 .contentContainer{
  height:fit-content;
  width: fit-content;
 }




