/*Component styling done by Megan Hacha*/

/*Styling of modal*/
.modal {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 700px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  vertical-align: middle;
  padding: 100px 100px 100px 100px;
}

/*Styling on button that toggles the modal*/
.trigger {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/*Styling on the close button in the modal*/
.close-button {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

/*Styling used to toggle the modal being visible or no
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/*Styling for the button that allows image submitting*/
.add-image {
  margin-left: 50px;
  margin-right: 50px;
  background-image: url('https://cdn.onlinewebfonts.com/svg/img_520029.png');
  background-size: 85%;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border-radius: 0.25rem;
  line-height: 180px;
}

.add-image:hover {
  background-color: powderBlue;
}

/*Styling for the button that allows file submitting*/
.add-file {
  margin-right: 50px;
  background-image: url('https://cdn.onlinewebfonts.com/svg/img_520494.png');
  background-size: 80%;
  background-repeat: no-repeat;
  border-radius: 0.25rem;
  width: 100px;
  height: 100px;
  line-height: 180px;
}

.add-file:hover {
  background-color: powderBlue;

}

/*Styling for the file chooser that shows up upon selection of file button*/
.selected-file {
  padding: 20px;
}

/*Styling for the submit button for the file submission*/
.submit-file {
  background-color: lightgray;
  border-radius: 0.25rem;
  visibility: hidden;
}

/*Styling for the button that allows the user to input text*/
.add-text {
  margin-right: 50px;
  background-image: url('https://cdn3.iconfinder.com/data/icons/symbol-black-common-2/32/text-add-512.png');
  background-size: 85%;
  background-repeat: no-repeat;
  border-radius: 0.25rem;
  width: 100px;
  height: 100px;
  line-height: 180px;
}

/*Styling for the text box that appears when text button is pressed*/
.text-input {

  margin-left: 50px;
  margin-top: 20px;
  visibility: hidden;
}

/*Styling for the submit button for the text inputted*/
.submit-text {
  visibility: hidden;
  margin-left: 50px;
  background-color: lightgray;
  border-radius: 0.25rem;
  width: 100px;
  height: 50;
}

.submit-text:hover {
  background-color: darkgray;
}

.add-text:hover {
  background-color: powderBlue;
}

/*Styling for the button that allows the user to submit an assignment*/
.add-submission {
  margin-right: 50px;
  background-image: url('https://csci1210.com/images/assignment.png');
  background-size: 80%;
  background-repeat: no-repeat;
  border-radius: 0.25rem;
  width: 100px;
  height: 100px;
  line-height: 180px;
}

.add-submission:hover {
  background-color: powderBlue;
}

/*Styling for the div that the individual modules show up in*/
.list-div {
  text-align: center;
  padding: 100px;
}

/*Styling for the list of modules themselves*/
li {
  margin-top: 5px;
  padding: 10px;
  border: 1px #0ff;
  border-radius: 15px;
  box-shadow: 0 0 8px 5px #0ff;
}

/*Styling for images that keeps them at a certain size*/
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
